nojhan <nojhan@nojhan.net> <johann.dreo@thalesgroup.com>
nojhan <nojhan@nojhan.net> <nojhan@gmail.com>
Alexander Belaev (alexbel) <alexbel@lavabit.com>
Alex Prengere <alexprengere@gmail.com> <alex.prengere@amadeus.com>
Alex Prengere <alexprengere@gmail.com> Alex <alexprengere@gmail.com>
Aurélien Requiem <aurelien@requiem.fr> <aurelien.requiem@loadedtech.com.au>
Aurélien Requiem <aurelien@requiem.fr>
Clément Mathieu <clement@unportant.info>
Christophe Drevet (dr4Ke) <dr4ke@dr4ke.net> <christophe.drevet@cea.fr>
François Schmidts (jaesivsm) <francois.schmidts@gmail.com>
François Schmidts (jaesivsm) <francois.schmidts@gmail.com> <fschmidts@olfeo.com>
François Schmidts (jaesivsm) <francois.schmidts@gmail.com> <jaesivsm>
Frédéric Lepied <flepied@gmail.com>
Étienne Deparis <etienne@depar.is>
Étienne Deparis <etienne@depar.is> <etienne.deparis@umaneti.net>
Felix Chern (dryman) <idryman@gmail.com>
Jean-Sébastien Leroy <jean.sebastien.leroy@gmail.com>
Joris Dedieu <joris@nfrance.com>
Joris Dedieu <joris@nfrance.com> <joris@pontiac3.nfrance.com>
Julien Pecqueur <jpec@julienpecqueur.net>
Julien Pecqueur <jpec@julienpecqueur.net> <jpec80@gmail.com>
Ludovic Rousseau <ludovic.rousseau@gmail.com> <lroussea@370bh2j.(none)>
Matthew Micene (nzwulfin) <nzwulfin@gmail.com>
Nicolas Lacourte <nicolas@dotinfra.fr>
Olivier Dupuis <oj.dupuis@gmail.com>
Ying Li (cyli) <cyli@twistedmatrix.com>
Poil <poil@quake.fr> M.Poil <?@?>
Poil <poil@quake.fr> Poil <?@?>
Thomas Debesse <thomas.debesse@gmail.com>
Rolf Morel (polyphemus) <rolfmorel@gmail.com>
Wilson Maravilha (algaerhythm) <algaerhythm@gmail.com>
Yannack <yannack@gmail.com>
Brad Beyenhof <bbeyenhof@gmail.com> <bbeyenhof@icloud.com>
