on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release With Assets

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        working-directory: ./docs
        run: python3 -m pip install -r requirements.txt
      - name: Build manual pages
        working-directory: ./docs
        run: make man
      - name: Create output directory
        run: mkdir -v ./.output
      - name: Create release tarball
        run: tar --exclude-vcs --exclude='./.*' --transform 's/^\./liquidprompt/' -zcvf ./.output/liquidprompt-${{ github.ref_name }}.tar.gz .
      - name: Create release and upload release asset
        uses: softprops/action-gh-release@v2
        with:
          name: Version ${{ github.ref }}
          body_path: CHANGELOG.md
          draft: true
          prerelease: false
          files: |
            liquidprompt
            ./.output/liquidprompt-${{ github.ref_name }}.tar.gz
